@font-face {
    font-family: DigitalNumbers-Regular;
    src: url(DigitalNumbers-Regular.ttf);
}
body {
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkgray;
}

.head2 {
    display: flex;
    background: black;
    color: blue;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#aScore{
    font-size: 18pc;
    margin: 0;
    font-family: DigitalNumbers;
}

#hScore{
    font-size: 18pc;
    margin: 0;
    font-family: DigitalNumbers;
}

button {
    display: block;
    width: 195px;
    color: firebrick;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    margin-top: 5px;
    height: 30px;
}